/*--------------------------------------------------------------
Google Fonts Integration
----------------------------------------------------------------*/
/* Start Poppins */
@font-face {
  font-family: "Poppins";
  src: url("../fonts/poppins/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/poppins/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/poppins/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
/* End Poppins */

/* Start Rubik */
@font-face {
  font-family: "Rubik";
  src: url("../fonts/rubik/static/Rubik-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Rubik";
  src: url("../fonts/rubik/static/Rubik-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Rubik";
  src: url("../fonts/rubik/static/Rubik-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Rubik";
  src: url("../fonts/rubik/static/Rubik-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
/* End Rubik */

/* Root Variables */
/*--------------------------------------------------------------
## All Color Variable
----------------------------------------------------------------*/
:root {
  --white: #fff;
  --black: #000;
  --heading-color: #222;
  --body-color: #636363;
  --accent-color: #2ea6f7;
  --blue-color: #002261;
  --gray-color: #e8edf0;
  --border-color: #dddddd;
  --heading-font: "Poppins", sans-serif;
  --body-font: "Rubik", sans-serif;
}
/* Common Css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  color: var(--body-color);
  font-family: var(--body-font);
  font: 16px;
  line-height: 1.6rem;
  font-weight: 400;
  overflow-x: clip;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  font-family: var(--heading-font);
  color: var(--heading-color);
  padding: 0;
  margin: 0 0 20px 0;
  font-weight: 700;
  line-height: 1.2rem;
}

/*--------------------------------------------------------------
## All Custom Css
----------------------------------------------------------------*/
.primary_font {
  font-family: var(--heading-font);
}

.secondary_font {
  font-family: var(--body-font);
}

h1 {
  font-size: 56px;
}

h2 {
  font-size: 42px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

p {
  margin-bottom: 15px;
  line-height: 1.6em;
}

ul {
  margin: 0 0 25px 0;
  padding-left: 20px;
  list-style: square outside none;
}

ol {
  padding-left: 20px;
  margin-bottom: 25px;
}

dfn,
cite,
em,
i {
  font-style: italic;
}

blockquote {
  margin: 0 15px;
  font-style: italic;
  font-size: 20px;
  line-height: 1.6em;
  margin: 0;
}

address {
  margin: 0 0 15px;
}

img {
  border: 0;
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

button {
  color: inherit;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
  color: var(--accent-color);
}

table {
  width: 100%;
  margin-bottom: 25px;
}
table th {
  font-weight: 600;
  color: var(--body-color);
}
table td,
table th {
  border-top: 1px solid var(--border-color);
  padding: 11px 10px;
}

dl {
  margin-bottom: 25px;
}
dl dt {
  font-weight: 600;
}

b,
strong {
  font-weight: bold;
}

pre {
  color: var(--body-color);
  border: 1px solid var(--border-color);
  font-size: 18px;
  padding: 25px;
  border-radius: 5px;
}

kbd {
  font-size: 100%;
  background-color: var(--body-color);
  border-radius: 5px;
}

input,
textarea {
  color: var(--heading-color);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
